@using PortfolyoSitem.Data
@model List<CertificateTable>
@{
    ViewData["Title"] = "Sertifikalar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div id="section-sertifikalar" class="page-section" >
    <div class="toolbar">
        <a href="/AdminCertificate/CreateCertificate"
           class="btn btn-add">
            <i class="fa-solid fa-plus"></i> Yeni Sertifika Bilgisi Ekle
        </a>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th style="width: 50px;">Id</th>
                    <th>Sertifika Adı</th>
                    <th>Veren Kurum</th>
                    <th>Verilen Yıl</th>
                    <th style="width: 180px;">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                 @foreach(var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.CertificateName</td>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>@item.Year</td>
                        <td>
                            <div class="action-buttons">
                                <a href="/AdminCertificate/UpdateCertificate/@item.CertificationsId"
                                   class="btn btn-sm btn-edit">
                                    <i class="fa-solid fa-pen"></i> Güncelle
                                </a>

                                <a href="/AdminCertificate/DeleteCertificate/@item.CertificationsId"
                                   class="btn btn-sm btn-delete"
                                   onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?')">
                                    <i class="fa-solid fa-trash"></i> Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>


