<button id="toggleSidebar"
        class="fixed top-6 left-6 z-[60] bg-card/80 backdrop-blur p-2 rounded-full border border-white/10 text-white hover:text-primary hover:border-primary transition-all shadow-lg md:hidden">
    <span class="material-symbols-outlined text-2xl" id="toggleIcon">menu</span>
</button>