<div id="bg-container" class="fixed inset-0 z-0 pointer-events-none overflow-hidden flex justify-center items-end">
    <!-- Işıklar (Sabit Taç Şeklinde) -->
    <!-- Sol Taraf -->
    <div class="spotlight -rotate-[60deg] opacity-20">
        <div class="sparkles" style="animation-delay: -1s;"></div>
    </div>
    <div class="spotlight -rotate-[45deg] opacity-30">
        <div class="sparkles" style="animation-delay: -2s;"></div>
    </div>
    <div class="spotlight -rotate-[30deg] opacity-40">
        <div class="sparkles" style="animation-delay: -3s;"></div>
    </div>
    <div class="spotlight -rotate-[15deg] opacity-50">
        <div class="sparkles" style="animation-delay: -4s;"></div>
    </div>

    <!-- Merkez -->
    <div class="spotlight rotate-0 opacity-60">
        <div class="sparkles" style="animation-delay: -5s;"></div>
    </div>

    <!-- Sağ Taraf -->
    <div class="spotlight rotate-[15deg] opacity-50">
        <div class="sparkles" style="animation-delay: -6s;"></div>
    </div>
    <div class="spotlight rotate-[30deg] opacity-40">
        <div class="sparkles" style="animation-delay: -7s;"></div>
    </div>
    <div class="spotlight rotate-[45deg] opacity-30">
        <div class="sparkles" style="animation-delay: -8s;"></div>
    </div>
    <div class="spotlight rotate-[60deg] opacity-20">
        <div class="sparkles" style="animation-delay: -9s;"></div>
    </div>

    <div class="absolute inset-0 opacity-[0.035] bg-[url('https://grainy-gradients.vercel.app/noise.svg')]"></div>
</div>