@using PortfolyoSitem.Data
@model AboutTable

<section id="about"
         class="min-h-screen flex flex-col justify-center px-8 md:px-20 py-20 border-t border-white/5 reveal-section">
    <div class="max-w-4xl mx-auto w-full">
        <div class="text-center mb-16">
            <h2 class="text-4xl md:text-5xl font-bold mb-4 relative inline-block">
                <span class="absolute -inset-4 bg-gradient-to-r from-red-600 via-orange-500 to-yellow-400 opacity-20 blur-xl rounded-full"></span>
                <span class="relative text-white uppercase tracking-wider">Hakkımda</span>
            </h2>
            <p class="text-muted max-w-2xl mx-auto">
                @Model.Title
            </p>
        </div>
        <div class="grid md:grid-cols-2 gap-10 items-center">
            <div class="space-y-6 text-lg text-muted font-body">
                <p>
                    
                       @Model.Description
                </p>
            </div>
            <div class="bg-card p-6 rounded-2xl border border-white/10 hover:border-primary/50 transition-colors">
                <h3 class="text-xl font-bold mb-4 text-white">Neler Yapıyorum?</h3>
                <ul class="space-y-3">
                    <li class="flex items-center gap-3 text-muted">
                        <span class="material-symbols-outlined text-primary">check_circle</span> Backend Geliştirme
                    </li>
                    <li class="flex items-center gap-3 text-muted">
                        <span class="material-symbols-outlined text-primary">check_circle</span> Oyun Geliştirme
                    </li>
                    <li class="flex items-center gap-3 text-muted">
                        <span class="material-symbols-outlined text-primary">check_circle</span> 
                    </li>
                    <li class="flex items-center gap-3 text-muted">
                        <span class="material-symbols-outlined text-primary">check_circle</span> Backend
                        Entegrasyonları
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
